.flexDemoContainer {
  border: solid 1px red;
  box-sizing: content-box !important;
}

.bio {
  mat-card-title {
    margin: 0 0 4px 0;
    text-transform: uppercase;
    color: #ff4081;
    font-weight: 100;
    letter-spacing: .35rem;
    &::after {
      display: block;
      content: '';
      height: 1px;
      margin: .3rem 0 .5rem;
      width: 3rem;
      background: #ff4081;
    }
  }
}

mat-icon {
  &.javascript {
    color: #f8e01f;
  }
  &.angular {
    color: #dd0132
  }
  &.nodejs {
    color: #689e63;
  }
  &.cube {
    color: #398bb4;
  }
  &.ship-wheel {
    color: #326de6;
  }
  &.twitter {
    color: #1da1f3;
  }
  &.linkedin {
    color: #0476b5;
  }
  &.github {
    color: #252a2f;
  }
}