.flexDemoContainer {
  border: solid 1px red;
  box-sizing: content-box !important;
}

.bio {
  mat-card-title {
    margin: 0 0 4px 0;
    text-transform: uppercase;
    color: #ff4081;
    font-weight: 100;
    letter-spacing: .35rem;
    &::after {
      display: block;
      content: '';
      height: 1px;
      margin: .3rem 0 .5rem;
      width: 3rem;
      background: #ff4081;
    }
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: .25em;
}

.subtitle {
  background: #333;
  h2 {
    font-size: 1rem;
    font-weight: 300;
    padding: .5rem;
    color: greenyellow;
    font-family: 'Roboto Slab', serif;
    &:before {
      content: '~mwalters$';
      margin-right: .5rem;
      color: white;
    }
  }
}

.mat-card-avatar {
  height: 90px;
  margin-top: .25rem;
  margin-right: .75rem;
  width: 90px;
  border-radius: 50%;
  flex-shrink: 0;
}

.mat-caption {
  color: #cccccc;
}

mat-icon {
  &.javascript {
    color: #f8e01f;
  }
  &.angular {
    color: #dd0132
  }
  &.nodejs {
    color: #689e63;
  }
  &.cube {
    color: #398bb4;
  }
  &.ship-wheel {
    color: #326de6;
  }
  &.twitter {
    color: #1da1f3;
  }
  &.linkedin {
    color: #0476b5;
  }
  &.github {
    color: #252a2f;
  }
}