<div class="about container">
  <mat-card class="item">
    <div>
      <div
        class="mat-display-2"
        style="text-transform: uppercase;font-weight: 700;margin-bottom: .25em;"
      >
        Matt Walterspieler
      </div>
    </div>
    <mat-card-header class="bio">
      <img mat-card-avatar src="assets/matt.jpg" />
      <mat-card-title
        >Fullstack software engineer
        <a href="https://live.fundee.fr/" target="_blank">@fundee</a></mat-card-title
      >
      <mat-card-subtitle>Paris <span style="color:black;">🇫🇷 🇪🇺</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list dense>
        <h3 matSubheader>Front-end</h3>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon svgIcon="language-javascript"></mat-icon>Javascript
        </mat-list-item>
        <mat-list-item> <mat-icon svgIcon="angular"></mat-icon>Angular & Angularjs </mat-list-item>
        <h3 matSubheader>Back-end</h3>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon svgIcon="nodejs"></mat-icon>Node.js && (Nest.js || Express)
        </mat-list-item>
        <h3 matSubheader>DevOps</h3>
        <mat-divider></mat-divider>
        <mat-list-item> <fa-icon [icon]="google"></fa-icon> Google Cloud Platform </mat-list-item>
        <mat-list-item> <fa-icon [icon]="docker"></fa-icon> Docker </mat-list-item>
        <mat-list-item> <mat-icon svgIcon="ship-wheel"></mat-icon> Kubernetes (K8s) </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      S/N:
      <a mat-button href="https://twitter.com/mwalterspieler" target="_blank">
        <fa-icon [icon]="twitter"></fa-icon> Twitter
      </a>
      <a mat-button href="https://github.com/walterspieler" target="_blank">
        <fa-icon [icon]="github"></fa-icon>
        Github
      </a>
      <a mat-button href="https://www.linkedin.com/in/mattwalters3/" target="_blank">
        <fa-icon [icon]="linkedin"></fa-icon>
        Linkedin
      </a>
      <a mat-button href="https://medium.com/@mwalterspieler_31762" target="_blank">
        <fa-icon [icon]="medium"></fa-icon>
        Medium
      </a>
      <a mat-button href="https://www.instagram.com/walters_matt/" target="_blank">
        <fa-icon [icon]="instagram"></fa-icon>
        Instagram
      </a>
      <a mat-button href="https://keybase.io/mwalterspieler" target="_blank">
        <fa-icon [icon]="keybase"></fa-icon>
        Keybase
      </a>
      <a
        mat-button
        href="https://stackoverflow.com/users/3918612/matt-walterspieler"
        target="_blank"
      >
        <fa-icon [icon]="stackoverflow"></fa-icon>
        StackOverFlow
      </a>
    </mat-card-actions>
  </mat-card>
  <p class="mat-caption">Matthieu Walterspieler 2019©</p>
</div>
