@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
// #6388b9
// #6f7a8a
$app-primary: mat-palette($mat-blue-gray);
$app-accent: mat-palette($mat-amber);
$app-blue-gray: mat-palette($mat-blue-gray);
// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
$lighter-grey: #eee;
$light-grey: #cccccc;
$dark-grey: rgba(0, 0, 0, 0.54);
@mixin md-icon-size($size: 24) {
  transform: scale(calc(#{$size}/ 24));
  margin-left: -#{$size/2}px;
}

@mixin border-radius($radius: 1rem) {
  border-radius: $radius;
}

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
