@import 'material';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  background-color: mat-color($app-blue-gray, 50);
  margin: 0;
  font-family: 'Roboto', sans-serif;

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
